## About me
<p>
Third and final-year PhD candidate in Computer Science at Queen Mary University of London, under the supervision of <a href="https://gianniantichi.github.io/">Dr. Gianni Antichi</a>.
<br>
I am actively looking for opportunities starting summer 2024, post-PhD.
<br>
My research is in the intersection of software and hardware, with a focus on algorithms, data structures, and system design. 
Problem solving and system engineering are my passions, and I have applied these to innovative projects involving network monitoring and high-speed data collection techniques.
</p>
<p>
My work during the PhD has been highly collaborative, and I thrive working in teams with diverse and complementary competences.
</p>
