## About me
<p>
	I am a PhD candidate in Computer Science at Queen Mary University of London, under the supervision of <a href="https://gianniantichi.github.io/">Dr. Gianni Antichi</a>.
	<br>
	I will join the <a href="https://www.kth.se/cs/scs/forskning/network-systems">NSLab</a> at KTH Royal Institute of Technology as a postdoc in fall 2024.
</p>
<p>
	I work at the intersection of software and hardware, focusing on algorithms, data structures, and systems.
</p>
<p>
	My research focuses on monitoring, acceleration, and security technologies inside switches and network cards
	<br/>
	I prototype solutions using my expertise in programmable networking hardware and have extensive experience with various switch and NIC architectures.
</p>
