## About me
<p>
	I am a postdoctoral researcher at the <a href="https://www.kth.se/cs/scs/forskning/network-systems">NSLab</a> at KTH Royal Institute of Technology, supported by my <a href="https://www.digitalfutures.kth.se/project/jonatan-langlet-comprehensive-network-insight-for-resilient-infrastructures/">Digital Futures fellowship</a>.
	My research focuses on monitoring and analysis technologies for large-scale systems, naturally involving a broad range of ML/AI methods.
</p>
<p>
	My earlier specialization was in near-hardware algorithms, data structures, and systems, with a focus on monitoring, acceleration, and security technologies within switches and network cards. <br>
	I have since zoomed out to a broader perspective: how to leverage monitoring technologies to extract actionable insights from large-scale surveillance data.
</p>
<p>
	My research has been published in top-tier venues, including <a href="https://dl.acm.org/doi/abs/10.1145/3603269.3604827">ACM SIGCOMM</a>, <a href="https://dl.acm.org/doi/abs/10.1145/3626775">ACM SIGMETRICS</a>, and <a href="https://dl.acm.org/doi/abs/10.1145/3484266.3487366">ACM HotNets</a>.
</p>
<p>
	In 2024, I earned my PhD in Computer Science from Queen Mary University of London under the supervision of <a href="https://gianniantichi.github.io/">Prof. Gianni Antichi</a>.
</p>
