{% if site.data.teaching %}
{% assign communitywork = site.data.communitywork %}
## Community Work
<div class="div_scrollable_table">
	<table class="tab_scrollable">
		<colgroup>
			<col width="20%" style="min-width:60px;"/>
			<col width="25%" style="min-width:150px;"/>
			<col width="55%" style="min-width:300px;"/>
		</colgroup>
		<thead>
			<tr class="header">
				<th>Year</th>
				<th>Role</th>
				<th>Venue</th>
			</tr>
		</thead>
		<tbody>
			{% for entry in communitywork %}
				{% assign key = entry | first %}
				{% if communitywork[key].venue %}
					<tr>
						<td markdown="span">{{ communitywork[key].year }}</td>
						<td markdown="span">{{ communitywork[key].role }}</td>
						<td markdown="span">{{ communitywork[key].venue }}</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
