{% if site.data.publications %}
{% assign pub = site.data.publications %}
## List of works
<table>
	<colgroup>
		<col width="10%" />
		<col width="55%" />
		<col width="10%" />
		<col width="25%" />
	</colgroup>
	<thead>
		<tr class="header">
			<th>Year</th>
			<th>Title</th>
			<th>Venue</th>
			<th>Authors</th>
		</tr>
	</thead>
	<tbody>
		{% for entry in pub %}
			{% assign key = entry | first %}
			{% if pub[key].title %}
				<tr>
					<td markdown="span">{{ pub[key].year }}</td>
					<td markdown="span">{{ pub[key].title }}</td>
					<td markdown="span">{{ pub[key].conf }}</td>
					<td markdown="span">{{ pub[key].authors }}</td>
				</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>
{% endif %}
