{% if site.data.social-media %}
<div id="social-media">
	{% assign sm = site.data.social-media %}
	{% for entry in sm %}
		{% assign key = entry | first %}
		{% if sm[key].id %}
			{% if sm[key].href == "mailto:" %}
				<a href="{{ sm[key].href }}{{ sm[key].id }}" title="{{ sm[key].title }}" onmouseover="this.href=this.href.replace('::','.');this.href=this.href.replace('##','@')"><i class="{{ sm[key].fa-icon}}" style="font-size:32px"></i></a>
			{% else %}
				<a href="{{ sm[key].href }}{{ sm[key].id }}" title="{{ sm[key].title }}"><i class="{{ sm[key].fa-icon}}" style="font-size:32px"></i></a>
			{% endif %}
		{% endif %}
	{% endfor %}
</div>
{% endif %}
