{% if site.data.teaching %}
{% assign teaching = site.data.teaching %}
## Teaching
<div class="div_scrollable_table">
	<table class="tab_scrollable">
		<colgroup>
			<col width="20%" style="min-width:60px;"/>
			<col width="40%" style="min-width:200px;"/>
			<col width="40%" style="min-width:200px;"/>
		</colgroup>
		<thead>
			<tr class="header">
				<th>Year</th>
				<th>Course</th>
				<th>University</th>
			</tr>
		</thead>
		<tbody>
			{% for entry in teaching %}
				{% assign key = entry | first %}
				{% if teaching[key].course %}
					<tr>
						<td markdown="span">{{ teaching[key].year }}</td>
						<td markdown="span">{{ teaching[key].course }}</td>
						<td markdown="span">{{ teaching[key].uni }}</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
